@model CardShop.Models.Store
@{
    ViewBag.Title = "ManageStore";
}

<h2>ManageStore</h2>
<form id="discountForm">
    Store Name: @Model.Name<br />
    <br />
    Store Discount: <input type="text" name="DiscountRate" id ="DiscountRate" value="@Model.DiscountRate" /><br />
    <input type="button" id="submitDiscount" value="Edit Store" />
</form>
 
<script src="@Url.Content("~/Scripts/Admin/admin.js")"></script>