@model CardShop.Models.Store
@{
    ViewBag.Title = "ManageStore";
}

<h2>ManageStore</h2>
<br />
Store Name: <br />
<br />
Store Owner: <br />
<br />
Store Discount: <input type="text" value="@Model.DiscountRate" /><br />
<br />