@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form action="Upload" method="post" enctype="multipart/form-data" id="form">

    <p>Upload rulesets.</p>

    <div id="error" style="color:red"></div>

    <input type="file" name="file" id="file" /><br />
    <input type="button" id="button" value="Submit"/>
</form>

<div id="savedRules" style="color:blue; padding-top:20px;"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.form-upload.js")
}
