@{
    ViewBag.Title = "PasswordUpdated";
}

@model CardShop.Models.PasswordReset

<h2>Password Reset Form</h2>

<fieldset>
    <legend>Reset Password Form</legend>

    <p>@Html.ValueFor(m => m.Message)</p>
    <p>@Html.ActionLink("Click here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to return to login screen</p>


</fieldset>