@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h2>Baseball Card Store</h2>
            <p>
                Welcome to the one-stop-shop for all the Baseball Cards you're ever going to need in your life!!!
            </p>
        </div>
    </section>
}
