@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form action="Upload" method="post" enctype="multipart/form-data" id="form">

    <p>Upload baseball cards.</p>

    <input type="file" name="file" id="file" /><br />
    <input type="submit" />
</form>

