<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=practicegdvp2.cpcmrunc8c3y.us-west-2.rds.amazonaws.com; Database=PracticeGDVP; User Id=awsuser; password=!Catalyst!" providerName="System.Data.SqlClient" />
    <add name="PracticeGDVPEntities" connectionString="metadata=res://*/Models.BaseballCardModel.csdl|res://*/Models.BaseballCardModel.ssdl|res://*/Models.BaseballCardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=practicegdvp2.cpcmrunc8c3y.us-west-2.rds.amazonaws.com;initial catalog=PracticeGDVP;persist security info=True;user id=awsuser;password=!Catalyst!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>