@model List<CardShop.Models.User>

@{
    ViewBag.Title = "Issue A Discount";
}

@Html.AntiForgeryToken()


<style>

input
    {
    width:100px;
    }


</style>

<script>
    $(document).ready(function () {

        // on button click, submit form
        //  as ajax request and display 
        //  returned coupon code
        $("#submitButton").click(function () {
     
            if ($("#theForm").validate()) {

                $.post("IssueDiscount",
                     jsonForm,
                     function (data) {

                         //  displayed name
                         var displayName = $("#UserId").text();

                         //  display coupon code and message here
                         $("#couponCode").html("Coupon Code " + data.DiscountCode
                             + " has been issued to " + displayName);

                         // make text green per Nate
                         $("#couponCode").css('color', 'green');

                     },
                     "json");
            }
       
        });

        $(function () {
            $("#StartDate").datepicker();
            $("#EndDate").datepicker();
        });

    });

</script>

<h2>Issue A Discount</h2>
@Html.ValidationSummary()
<form id ="theForm">
    <!-- drop down list -->
    <select style="font-size:12pt" name="UserId" id ="UserId">
        @{foreach (var user in Model)
            {
                <option value="@user.UserId ">@user.Username</option>
            }
        }
    </select>

    <br/>
    Start Date: <input type="text" name="StartDate" id ="StartDate"/>
    <br/>
    End Date: <input type="text" name="EndDate" id ="EndDate"/>
    <br/>
    Discount Percent As Whole Number: <input type="text" name="DiscountRate" id ="DiscountRate"/>%
    <br/>
    <button type="button" id ="submitButton">Submit</button> 
    <p id ="couponCode">Coupon Code Not Issued</p>
</form>