@model List<CardShop.Models.User>


@{
    ViewBag.Title = "Issue A Discount";
}
<style>

input {width:100px;}

</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>


<script>
    $(document).ready(function () {

        // on button click, submit form
        //  as ajax request and display 
        //  returned coupon code
        $("#submitButton").click(function () {


            //  parse input date and return milliseconds
            function parseDate(inputDate) {
                var pieces = inputDate.split("/");
                formattedDate = new Date(pieces[2], pieces[0], pieces[1], 00, 00, 00, 00);
                var msTime = formattedDate.getTime();
                return msTime;
            }
            
            //  Check Discount Rate
            if ($("#DiscountRate").val() < 0 || $("#DiscountRate").val() > 1) {

                alert($("#DiscountRate").val() +" is not a valid amount");
            
            } else if (parseDate($("#StartDate").val()) > parseDate($("#EndDate").val())) {    // Check Dates

                alert("Start date is after end date, please try again");
            }
            else {    //  submit

                //  parameterize the form data
                var jsonForm = $("#theForm").serialize();
            
               //jQuery.post( url, [data], [callback], [type] )
               $.post("IssueDiscount",
                    jsonForm,
                    function (data) {

                        //  displayed name
                        var displayName = $("#UserId").text();

                        //  display coupon code and message here
                        $("#couponCode").html("Coupon Code " + data.DiscountCode
                            + " has been issued to " + displayName);

                        // make text red
                        $("#couponCode").css('color', 'red');

                        },
                    "json")
            }

        });

        $(function () {
            $("#StartDate").datepicker();
            $("#EndDate").datepicker();
        });

    });




</script>


<h2>Issue A Discount</h2>


<form id ="theForm">
    <!-- drop down list -->
    <select style="font-size:12pt" name="UserId" id ="UserId">
        @{foreach (var user in Model)
            {
                <option value="@user.UserId ">@user.Username</option>
            }
        }
    </select>

    <br/>
    Start Date: <input type="text" name="StartDate" id ="StartDate"/>
    <br/>
    End Date: <input type="text" name="EndDate" id ="EndDate"/>
    <br/>
    Discount Percent As Decimal: <input type="text" name="DiscountRate" id ="DiscountRate"/>
    <br/>
    <button type="button" id ="submitButton">Submit</button> 
    <p id ="couponCode">Coupon Code Not Issued</p>
</form>